.Location{
    cursor: pointer;
    transition: 0.2s;
}
.Location > * {
    vertical-align: middle;
}

.City{
    padding: 0 5px;
}
.Country{
    opacity: 0.7;
    transition: 0.2s;
}

.Location:hover, .Location:hover .Country{
    opacity: 1;
}