.Container {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}
.DayName {
    font-size: 12px;
    border-bottom: 1px solid #464545;
    padding:4px 0 6px;
}
.IconContainer{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}