.ResultBox {
    position: relative;
}
.Holder{
    position: absolute;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 5px;
    
}
.CloseBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.Grid {
    margin-top: 10px;
}

.Item {
    color: #434343;
    font-size: 14px;
    background-color: #0000001e;
    padding: 10px;
    border-radius: 6px;
    margin-top:5px;
    transition: 0.2s;
    cursor: pointer;
}

.Item:hover { 
    background-color: #00000025;
}