.Card {
    background-color: white;
    transition: 0.5s;
    border-radius: 10px;
    box-sizing: border-box;
    height: 100%;
}

.LIGHT {
    background-color: #dadada;
}

.DARK {
    background-color: #323232;
}

.SKY {
    background-color: #b4eaff;
}
