
.WtheaderDeg span {
    font-size: 20px;
    position: relative;
}
.WtheaderDeg span::after {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    left: 100%;
    bottom: 100%;
    transform: translateX(0%)  translateY(100%);
}